In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

In [2]:
df_all = pd.read_csv("./data/sfpd_dispatch_data_subset.csv")
num_rows = df_all.shape[0]
df_all["received_timestamp"] = pd.to_datetime(df_all["received_timestamp"])

In [3]:
counter_nan = df_all.isnull().sum()
counter_no_nan = counter_nan[counter_nan==0]

In [4]:
df_cleaned = df_all[counter_no_nan.keys()]
kept_keys = counter_no_nan.keys().values
kept_keys

array(['call_number', 'unit_id', 'incident_number', 'call_type',
       'call_date', 'watch_date', 'received_timestamp', 'entry_timestamp',
       'dispatch_timestamp', 'call_final_disposition',
       'available_timestamp', 'address', 'zipcode_of_incident',
       'battalion', 'station_area', 'box', 'original_priority',
       'priority', 'final_priority', 'als_unit', 'number_of_alarms',
       'unit_type', 'unit_sequence_in_call_dispatch',
       'fire_prevention_district', 'supervisor_district', 'location',
       'row_id', 'latitude', 'longitude', 'x', 'y', 'z'], dtype=object)

In [6]:
# kept_keys = ['unit_id', 'call_type', 'received_timestamp', 'entry_timestamp',
#        'dispatch_timestamp', 'call_final_disposition',
#        'battalion', 'station_area', 'original_priority',
#        'priority', 'final_priority', 'als_unit', 'number_of_alarms', 'x', 'y', 'z', 'unit_type']
kept_keys = ['received_timestamp','zipcode_of_incident', 'unit_type']
df_cleaned = df_cleaned[kept_keys]
df_cleaned.keys()
#zipcode_of_incident

Index(['received_timestamp', 'zipcode_of_incident', 'unit_type'], dtype='object')

In [7]:
#extract hour, day, dotw from timestamp
columns_to_extract = ["received_timestamp", "entry_timestamp", "dispatch_timestamp"]
columns_to_extract = ["received_timestamp"]
full_df = pd.DataFrame()
for c in columns_to_extract:
    new_data = []
    for timestamp in df_cleaned[c]:
        keys = ["date_"+c[:3], "hour_"+c[:3], "dow_"+c[:3]]
        new_data.append({keys[0]: timestamp.day, keys[1]: timestamp.hour, keys[2]: timestamp.dayofweek});
    new_df = pd.DataFrame(new_data)
    full_df = new_df.join(full_df, rsuffix='_next')
    df_cleaned = df_cleaned.drop(c, axis=1)
df_cleaned = df_cleaned.join(full_df, rsuffix="_next")

In [8]:
call_type_mapping = {
    'Alarms': 0,
    'Citizen Assist / Service Call': 1,
    'Electrical Hazard': 2,
    'Elevator / Escalator Rescue': 3,
    'Fuel Spill': 4,
    'Gas Leak (Natural and LP Gases)': 5,
    'HazMat': 6,
    'Medical Incident': 7,
    'Odor (Strange / Unknown)': 8,
    'Other': 9,
    'Outside Fire': 10,
    'Smoke Investigation (Outside)': 11,
    'Structure Fire': 12,
    'Traffic Collision': 13,
    'Train / Rail Incident': 14,
    'Vehicle Fire': 15,
    'Water Rescue': 16    
}
unit_type_mapping = {
    'CHIEF': 0,
    'ENGINE': 1,
    'INVESTIGATION': 2,
    'MEDIC': 3,
    'PRIVATE': 4,
    'RESCUE CAPTAIN': 5,
    'RESCUE SQUAD': 6,
    'SUPPORT': 7,
    'TRUCK': 8
}
fdisp = {
    'Against Medical Advice': 0,
    'Cancelled': 1,
    'Code 2 Transport': 2,
    'Code 3 Transport': 3,
    'Fire': 4,
    'Gone on Arrival': 5,
    'Medical Examiner': 6,
    'No Merit': 7,
    'Other': 8,
    'Patient Declined Transport': 9,
    'SFPD': 10,
    'Unable to Locate': 11
}
boolean_map = {
    'False': 0,
    'True': 1
}
battalion_mapping = {
    'B01': 0,
    'B02': 1,
    'B03': 2,
    'B04': 3,
    'B05': 4,
    'B06': 5,
    'B07': 6,
    'B08': 7,
    'B09': 8,
    'B10': 9,
    'B99': 10
}
#df_cleaned.groupby('zipcode_of_incident')['zipcode_of_incident'].nunique()
#df_cleaned.groupby('battalion')['battalion'].nunique()

In [9]:
df_cleaned = df_cleaned.replace({'unit_type': unit_type_mapping})
y_data = df_cleaned['unit_type']
df_cleaned = df_cleaned.drop('unit_type', axis=1)

In [ ]:
# df_onehot = df_cleaned
# onehots = ['unit_id', 'call_type', 'call_final_disposition', 'battalion', 'station_area']
# for i in onehots:
#     onehot = pd.get_dummies(df_onehot[i])
#     df_onehot = df_onehot.drop(i, axis=1)
#     df_onehot = df_onehot.join(onehot, rsuffix='_right')

In [ ]:
#df_all["received_timestamp"] = pd.to_datetime(df_all["received_timestamp"])

In [ ]:
x_std

In [ ]:
import geopy as gp
from geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("37.7744419948, -122.5")
location.address

In [ ]:
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

In [ ]:
def raw_to_zip(raw_in):
    raw = raw_in.split(",")
    zipcode = 0
    for i in raw:
        count = 0
        num = True
        for j in i.strip():
            if is_number(j):
                count += 1
            else: 
                num = False
        if count == 5 and num:
            zipcode = int(i.strip())
    return zipcode

In [10]:
#map zip code to demographic data
zipcode_mapping = {
    '94121': {'pop': 43332, 'houses': 19311, 'renters': 10397, 'col': 163, 'land': 3.1, 'dens': 14061},
    '94103': {'pop': 26116, 'houses': 15685, 'renters': 11657, 'col': 167.8, 'land': 1.4, 'dens': 19259},
    '94122': {'pop': 62918, 'houses': 24615, 'renters': 12231, 'col': 156.3, 'land': 2.4, 'dens': 26616},
    '94109': {'pop': 56822, 'houses': 37688, 'renters': 29105, 'col': 161.6, 'land': 1.2, 'dens': 47834},
    '94107': {'pop': 29805, 'houses': 15569, 'renters': 8463, 'col': 152.7, 'land': 1.8, 'dens': 16634},
    '94110': {'pop': 74565, 'houses': 30262, 'renters': 18788, 'col': 155.3, 'land': 2.3, 'dens': 32066},
    '94102': {'pop': 29739, 'houses': 19561, 'renters': 16005, 'col': 181.8, 'land': 0.7, 'dens': 44330},
    '94133': {'pop': 27885, 'houses': 14941, 'renters': 11182, 'col': 178.0, 'land': 0.8, 'dens': 36931},
    '94134': {'pop': 42274, 'houses': 12699, 'renters': 4962, 'col': 155.2, 'land': 2.4, 'dens': 17616},
    '94111': {'pop': 3481, 'houses': 2626, 'renters': 1593, 'col': 158.4, 'land': 0.3, 'dens': 10116},
    '94114': {'pop': 33984, 'houses': 18228, 'renters': 9073, 'col': 156.5, 'land': 1.4, 'dens': 23843},
    '94131': {'pop': 28756, 'houses': 13952, 'renters': 6050, 'col': 157.2, 'land': 2.1, 'dens': 13828},
    '94117': {'pop': 43944, 'houses': 20017, 'renters': 13447, 'col': 156.4, 'land': 1.7, 'dens': 26041},
    '94112': {'pop': 85205, 'houses': 24570, 'renters': 8694, 'col': 154.3, 'land': 3.4, 'dens': 25329},
    '94118': {'pop': 42259, 'houses': 19115, 'renters': 12358, 'col': 164.4, 'land': 1.9, 'dens': 21685},
    '94158': {'pop': 6080, 'houses': 3629, 'renters': 2530, 'col': 139.0, 'land': 0.7, 'dens': 9247},
    '94105': {'pop': 6890, 'houses': 5258, 'renters': 2108, 'col': 151.8, 'land': 0.4, 'dens': 18652},
    '94115': {'pop': 35178, 'houses': 19430, 'renters': 13333, 'col': 160.7, 'land': 1.1, 'dens': 31529},
    '94108': {'pop': 14914, 'houses': 8997, 'renters': 7446, 'col': 175.6, 'land': 0.3, 'dens': 55226},
    '94124': {'pop': 35954, 'houses': 11430, 'renters': 5230, 'col': 155.9, 'land': 4.9, 'dens': 7298},
    '94104': {'pop': 496, 'houses': 360, 'renters': 255, 'col': 197.8, 'land': 0.1, 'dens': 6392},
    '94116': {'pop': 46594, 'houses': 16851, 'renters': 5736, 'col': 156.9, 'land': 2.6, 'dens': 18021},
    '94123': {'pop': 25600, 'houses': 15429, 'renters': 10665, 'col': 162.7, 'land': 1.0, 'dens': 25083},
    '94127': {'pop': 10960, 'houses': 8077, 'renters': 1491, 'col': 156.2, 'land': 1.8, 'dens': 11839},
    '94132': {'pop': 31737, 'houses': 11028, 'renters': 5998, 'col': 162.6, 'land': 3.1, 'dens': 10205},
    '94130': {'pop': 3134, 'houses': 778, 'renters': 647, 'col': 144.2, 'land': 0.9, 'dens': 3405},
    '94129': {'pop': 3815, 'houses': 1364, 'renters': 1288, 'col': 149.4, 'land': 2.3, 'dens': 1655},
    '0': {'pop': 0, 'houses': 0, 'renters': 0, 'col': 0, 'land': 0, 'dens': 0}
}

In [15]:
#map lat/long to region data
full_df = pd.DataFrame()
new_data = []
for zipcode in df_cleaned["zipcode_of_incident"]:
    if str(zipcode) in zipcode_mapping:
        new_data.append(zipcode_mapping[str(zipcode)])
    else:
        new_data.append(zipcode_mapping['0'])

In [30]:
new_df = pd.DataFrame(new_data)
full_df = new_df.join(full_df, rsuffix='_next')
df_cleaned = df_cleaned.drop('zipcode_of_incident', axis=1)
df_cleaned = df_cleaned.drop('renters', axis=1)
df_cleaned = df_cleaned.drop('houses', axis=1)
df_cleaned = df_cleaned.join(full_df, rsuffix="_next")

ValueError: labels ['zipcode_of_incident'] not contained in axis

In [32]:
df_cleaned = df_cleaned.drop('renters', axis=1)
df_cleaned = df_cleaned.drop('houses', axis=1)
df_cleaned

      date_rec  dow_rec  hour_rec    col   dens  land    pop
0           24        2        17  163.0  14061   3.1  43332
1           24        2         7  167.8  19259   1.4  26116
2           24        2         2  156.3  26616   2.4  62918
3           24        2        20  161.6  47834   1.2  56822
4           24        2        20  152.7  16634   1.8  29805
5           24        2        21  155.3  32066   2.3  74565
6           24        2        12  181.8  44330   0.7  29739
7           24        2        19  167.8  19259   1.4  26116
8           24        2        22  178.0  36931   0.8  27885
9           24        2        10  155.2  17616   2.4  42274
10          24        2        12  181.8  44330   0.7  29739
11          24        2        14  158.4  10116   0.3   3481
12          24        2        17  156.5  23843   1.4  33984
13          24        2        16  167.8  19259   1.4  26116
14          24        2        19  155.3  32066   2.3  74565
15          24        2         0  161.6  47834   1.2  56822
16          24        2        12  167.8  19259   1.4  26116
17          24        2        14  157.2  13828   2.1  28756
18          24        2        21  156.4  26041   1.7  43944
19          24        2        12  181.8  44330   0.7  29739
20          24        2        14  167.8  19259   1.4  26116
21          24        2        10  152.7  16634   1.8  29805
22          24        2        11  156.4  26041   1.7  43944
23          24        2        14  178.0  36931   0.8  27885
24          24        2         8  181.8  44330   0.7  29739
25          24        2        15  156.4  26041   1.7  43944
26          24        2        13  181.8  44330   0.7  29739
27          24        2        19  155.2  17616   2.4  42274
28          24        2         3  155.3  32066   2.3  74565
29          24        2        11  181.8  44330   0.7  29739
...        ...      ...       ...    ...    ...   ...    ...
9970        13        5        15  156.5  23843   1.4  33984
9971        13        5         4  156.9  18021   2.6  46594
9972        13        5        13  155.2  17616   2.4  42274
9973        13        5        18  181.8  44330   0.7  29739
9974        13        5         9  154.3  25329   3.4  85205
9975        13        5        13  152.7  16634   1.8  29805
9976        13        5        10  139.0   9247   0.7   6080
9977        13        5         8  178.0  36931   0.8  27885
9978        13        5        11  155.9   7298   4.9  35954
9979        13        5        20  160.7  31529   1.1  35178
9980        13        5         6  167.8  19259   1.4  26116
9981        13        5        18  181.8  44330   0.7  29739
9982        13        5         2  144.2   3405   0.9   3134
9983        13        5        14  162.7  25083   1.0  25600
9984        13        5        20  167.8  19259   1.4  26116
9985        13        5        18  155.9   7298   4.9  35954
9986        13        5        14  155.3  32066   2.3  74565
9987        13        5         7  164.4  21685   1.9  42259
9988        13        5        12  156.3  26616   2.4  62918
9989        13        5        11  175.6  55226   0.3  14914
9990        13        5         7  156.5  23843   1.4  33984
9991        13        5         2  156.4  26041   1.7  43944
9992        13        5        23  167.8  19259   1.4  26116
9993        13        5        14  155.3  32066   2.3  74565
9994        13        5        23  156.9  18021   2.6  46594
9995        13        5         0  155.3  32066   2.3  74565
9996        13        5         9  161.6  47834   1.2  56822
9997        13        5        14  167.8  19259   1.4  26116
9998        13        5        16  162.7  25083   1.0  25600
9999        13        5        13  161.6  47834   1.2  56822

[10000 rows x 7 columns]

In [33]:
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
x_data = df_cleaned.loc[:,:].values
sscaler = StandardScaler()
x_std= sscaler.fit_transform(x_data)
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data)

In [45]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(40, 50, 50, 20))
clf.fit(x_train,y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(40, 50, 50, 20), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='lbfgs', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [46]:
predictions = clf.predict(x_test)

In [47]:
from sklearn.metrics import accuracy_score
accuracy_score(predictions, y_test)

0.3188

In [40]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=50)
clf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=50, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [41]:
predictions = clf.predict(x_test)

In [42]:
accuracy_score(predictions, y_test)

0.1904

In [43]:
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier()
clf.fit(x_train,y_train)

/usr/local/Cellar/python3/3.6.3/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', max_iter=None, n_iter=None,
       n_jobs=1, penalty='l2', power_t=0.5, random_state=None,
       shuffle=True, tol=None, verbose=0, warm_start=False)

In [44]:
predictions = clf.predict(x_test)
accuracy_score(predictions, y_test)

0.3188